
.keyComponent{
  display: flex;
  justify-content: center;
  align-items:center;
  background-color: #2d272a;
  color:$font_color;
  font-size: $coefKeyboard * 45px;
  font-family: $font_family, $font_family_second;
  margin: 3px 3px 3px 3px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  flex:1;
  border: $coefKeyboard*5px solid #2d272a;
  box-sizing: border-box;
}
.keyComponent:focus{
  border: $coefKeyboard*5px solid $font_color;
}
.material-design-icon.icon-2x {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.material-design-icon.icon-2x > .material-design-icon__svg {
  width: $coefKeyboard * 60px;
  height: $coefKeyboard * 45px;
  color:$font_color;
  //width: auto;
  //height: auto;
}
