.mainComponent{
  background-color: $background_color;
  position: fixed;
  top: 0;
  left: 0;
  width: 1920px;
  height: 1080px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
h1,h2,h3{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.fade-leave-active{
  transition: opacity 0.5s;
}
.fade-enter-active {
  transition: opacity 0.5s;

}
.fade-enter, .fadeRoute-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
