.loginPageComponent{
  position: absolute;
  width: 1810px;
  height: inherit;
  top:0;
  left:110px;
  background-color: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
