.loginPageComponent{
  position: absolute;
  width: 1810px;
  height: inherit;
  top:0;
  left:110px;
  background-color: inherit;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.loginPageComponent:not(:focus-within){
  opacity: 0.7;
}
.fadeRoute-leave-active{
  transition: opacity 0.5s;
}
.fadeRoute-enter-active{
  transition: opacity 0s;
}

.fadeRoute-enter, .fadeRoute-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
