h3{
  color: $font_color;
  font-family:  'Lato', sans-serif;
  font-size: 33px;
  //text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.videoPlayerComponent{
  position: absolute;
  left:0;
  top:0;
  width: inherit;
  height: inherit;
}
.mainmenu{
  position: absolute;
  left:0;
  top:0;
  width: inherit;
  height: inherit;
}
.mainmenuSub{
  position: absolute;
  left:0;
  top:0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.85)
}
.loadingScreen{
  position: absolute;
  left:0;
  top:0;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  .loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #e2161a, 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.5), -1.8em -1.8em 0 0em rgba(226,22,26, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.7), 1.8em -1.8em 0 0em #e2161a, 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.5), 1.8em -1.8em 0 0em rgba(226,22,26, 0.7), 2.5em 0em 0 0em #e2161a, 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.5), 2.5em 0em 0 0em rgba(226,22,26, 0.7), 1.75em 1.75em 0 0em #e2161a, 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.5), 1.75em 1.75em 0 0em rgba(226,22,26, 0.7), 0em 2.5em 0 0em #e2161a, -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.5), 0em 2.5em 0 0em rgba(226,22,26, 0.7), -1.8em 1.8em 0 0em #e2161a, -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.5), -1.8em 1.8em 0 0em rgba(226,22,26, 0.7), -2.6em 0em 0 0em #e2161a, -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.5), -2.6em 0em 0 0em rgba(226,22,26, 0.7), -1.8em -1.8em 0 0em #e2161a;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #e2161a, 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.5), -1.8em -1.8em 0 0em rgba(226,22,26, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.7), 1.8em -1.8em 0 0em #e2161a, 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.5), 1.8em -1.8em 0 0em rgba(226,22,26, 0.7), 2.5em 0em 0 0em #e2161a, 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.5), 2.5em 0em 0 0em rgba(226,22,26, 0.7), 1.75em 1.75em 0 0em #e2161a, 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.5), 1.75em 1.75em 0 0em rgba(226,22,26, 0.7), 0em 2.5em 0 0em #e2161a, -1.8em 1.8em 0 0em rgba(226,22,26, 0.2), -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.5), 0em 2.5em 0 0em rgba(226,22,26, 0.7), -1.8em 1.8em 0 0em #e2161a, -2.6em 0em 0 0em rgba(226,22,26, 0.2), -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.5), -1.8em 1.8em 0 0em rgba(226,22,26, 0.7), -2.6em 0em 0 0em #e2161a, -1.8em -1.8em 0 0em rgba(226,22,26, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(226,22,26, 0.2), 1.8em -1.8em 0 0em rgba(226,22,26, 0.2), 2.5em 0em 0 0em rgba(226,22,26, 0.2), 1.75em 1.75em 0 0em rgba(226,22,26, 0.2), 0em 2.5em 0 0em rgba(226,22,26, 0.2), -1.8em 1.8em 0 0em rgba(226,22,26, 0.5), -2.6em 0em 0 0em rgba(226,22,26, 0.7), -1.8em -1.8em 0 0em #e2161a;
    }
  }

}

.infoSection{
  width: 90%;
  //height: 450px;
  flex:0.6;

  .title{
    font-size: 130px;
    width: 67%;
    white-space:nowrap;
    overflow-x: hidden;
    margin-top: 50px;
  }
  .statistics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin-left: 5px;
    .score{
      color: $second_color;
    }
    .kind{
      color:$third_color;
    }
  }
}
.menuSection{
  position: relative;
  width: inherit;
  flex:1.4;
  display: flex;
  .leftMenuSection{
    height: 100%;
    flex:0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    .li{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 70%;
      width: 80%;
      .lu{
        width: 100%;
        height: 60px;
        border: 4px solid rgba(0,0,0,0);
        border-radius: 5px;
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        h3{
          margin-left: 20px;
          color: $font_color;
          font-family:  'Lato', sans-serif;
          font-size: 30px;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
      }
      .lu:focus{
        border: 4px solid $font_color;
        opacity: 1;
      }
    }
  }
  .rightMenuSection{
    position: relative;
    height: 100%;
    //background: orange;
    flex:1;
    .similarMenu, .franchiseMenu{
      position: absolute;
      left: 0;
      top: 0;
      width: 70%;
      height: 90%;
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      .similarMenuCard, .franchiseMenuCard{
        display: flex;
        border: 4px solid rgba(0,0,0,0);
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        img{
          width: 0.8*240px;
          height: 0.8*345px;
          padding: 10px;
        }
        .info{
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          margin-left: 20px;
          .name{
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            font-size: 32px;
            margin-bottom: 20px;
            overflow-x: hidden;
            width: 650px;
            white-space: nowrap;
          }
          .specs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 500px;
            h3{
              margin-right: 30px;
              font-size: 28px;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            }
          }
        }
      }
      .similarMenuCard:focus,.franchiseMenuCard:focus{
        border: 4px solid $font_color;
        opacity: 1;

      }
    }
    .translationsMenu{
      position: absolute;
      left: 0;
      top: 80px;
      width: 70%;
      height: 80%;
      display: flex;
      flex-direction: column;
      overflow-y: hidden;
      .translationsMenuCard{
        min-height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 4px solid rgba(0,0,0,0);
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        padding-left: 30px;
        white-space: nowrap;
        h3{
          margin-right: 30px;
          font-size: 25px;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        .authorsSummary{
          overflow-x: hidden;
          font-size: 36px;
          width: 820px;
        }
        .specs{
          display: flex;
        }
      }
      .translationsMenuCard:focus{
        border: 4px solid $font_color;
        opacity: 1;
      }
    }
    .episodesMenu{
      position: absolute;
      left: 0;
      top: 80px;
      width: 30%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow-y: hidden;
      .episodesMenuCard{
        width: 95%;
        min-height: 60px;
        border: 4px solid rgba(0,0,0,0);
        border-radius: 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
        //margin-bottom: 20px;
        h3{
          margin-left: 60px;
          font-size: 30px;
          text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
      }
      .episodesMenuCard:focus{
        border: 4px solid $font_color;
        opacity: 1;
      }

    }
  }
}





.material-design-icon.icon {
  height: 40px;
  width: 40px;
}
.material-design-icon.icon > .material-design-icon__svg {
  height: inherit;
  width: inherit;
  color: $font_color;
}


.material-design-icon.iconPlay {
  position: relative;
  height: 40px;
  width: 40px;
}
.material-design-icon.iconPlay > .material-design-icon__svg {
  position: absolute;
  top:-10px;
  left:-10px;
  height: 60px;
  width: 60px;
  color: $font_color;
}

.fadeRL-enter-active {
  transition: all .3s ease;
}
.fadeRL-leave-active {
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fadeRL-enter, .fadeRL-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fadeLR-leave-active, .fadeLR-enter-active{
    transition: opacity 0.3s ease;
}

.fadeLR-enter, .fadeLR-leave-to{
    opacity: 0;
}
