
.leftMenuComponent{
  position: absolute;
  background: rgba(0,0,0,0.5);
  height: inherit;
  width: 110px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  font-family: 'Lato', sans-serif;
  transition: width 0.2s ease-in-out;
  background: linear-gradient(90deg,rgba(0,0,0,0.9) 30%,rgba(0,0,0,0.7),rgba(0,0,0,0.5));


  .routerLink{
    opacity: 0.8;

    .menuName{
      position: absolute;
      top:-18px;
      left: -145px;
      font-size: 27px;
      color: $font_color;
      opacity: 0;

    }
    img{
      position: absolute;
      width: 90px;
      height: 90px;
      opacity: 0;
    }
    .material-design-icon.icon-2x {
      height: 70px;
      width: 70px;
    }
    .material-design-icon.icon-2x > .material-design-icon__svg {
      height: 60px;
      width: 60px;
      color: #868282;
    }

    .line{
      position: relative;
      top:-3px;
      height: 4px;
      width: 55px;
      margin: 0 auto;
      background-color: $second_color;
      border-radius: 20px;
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
  }
  .routerLink.router-link-exact-active.router-link-active{
    .line{
      opacity: 1;
    }
  }
  .routerLink.login{
    position: absolute;
    top:50px;
    left:50px;
    img{
      padding: 5px;
      border: 5px solid rgba(0,0,0,0);
      transition: opacity 0.2s ease-in-out;
    }
    .menuName{
      margin-top: 35px;
      top:0;
      left:120px;
      transition: transform 0.2s ease-in-out 0.2s, opacity 0.2s ease-in-out;
    }
    transition:opacity 0.2s ease-in-out;
  }
  .routerLink.search{
    position: absolute;
    top:410px;
    left:22px;
    .menuName{
      margin-top: 35px;
      transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out;
    }
    transition: transform 0.2s ease-in-out 0s, opacity 0.2s ease-in-out;
  }
  .routerLink.chooseTitle{
    position: absolute;
    top:510px;
    left:22px;
    .menuName{
      margin-top: 35px;
      transition: transform 0.2s ease-in-out 0.07s, opacity 0.2s ease-in-out;
    }
    transition: transform 0.2s ease-in-out 0.07s, opacity 0.2s ease-in-out;
  }
  .routerLink.settings{
    position: absolute;
    top:610px;
    left:22px;
    .menuName{
      margin-top: 35px;
      transition: transform 0.2s ease-in-out 0.12s, opacity 0.2s ease-in-out;
    }
    transition: transform 0.2s ease-in-out 0.12s, opacity 0.2s ease-in-out;
  }
}

.leftMenuComponent:focus-within{
  //background: linear-gradient(90deg, rgba(0,0,0,0.8995973389355743) 0%, rgba(0,0,0,0.7651435574229692) 73%, rgba(0,0,0,0.4990371148459384) 95%, rgba(0,212,255,0) 100%);
  width: 420px;
  z-index: 5;

  .menuName{
    position: absolute;
    transform:translateX(240px);
    font-size: 30px;
    color: $font_color;
    opacity: 0.7;
  }
  .routerLink.login{
    .menuName{
      transform:translateX(20px);
    }
    img{
      opacity: 1;
    }
  }
  .routerLink:not(.login){
    transform: translateX(28px);
  }

  .routerLinkDiv:focus{
    .routerLink{
      img{
        border: 5px solid $font_color;
      }
      .menuName{
        color: #ffffff;
        opacity: 1;
        font-size: 34px;
      }
      .material-design-icon.icon-2x > .material-design-icon__svg {
        color: #ffffff;
      }
      .line{
        opacity: 0;
      }
    }
  }
  .routerLink.router-link-exact-active.router-link-active{
    .line{
      opacity: 1;
    }
    img{
      border: 5px solid $second_color;
    }
  }
}
