.animeCard{
  position: relative;
  flex-wrap: nowrap;
  width:1.2*240px;
  height: 1.2*330px;
  overflow: hidden;

  //margin-left: 10px;
  //margin-right: 10px;

  img{
    width: inherit;
    height:inherit;
  }

}

.animeInfoBlock{
  color: white;
  overflow: visible;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $background_color;
  width: 100%;

  .title{
    flex-wrap:nowrap;
    font-size: 27px;
  }
  h3{
    margin-left: 8px;
  }
}
