.categories{
  position: absolute;
  width: inherit;
  height: 55%;
  overflow-y:hidden;
  left:0;
  top:500px;
}
.chooseTitleComponent{
  width: inherit;
}
.emptyContainer{
  background-color: inherit;
  width: inherit;
  height: 600px;
}
