.categories{
  position: absolute;
  width: 1920px;
  left: -110px;
  height: 55%;
  overflow-y:hidden;
  top:500px;
}
.chooseTitleComponent{
  width: 1810px;
  height: inherit;
  position: absolute;
  top:0;
  left:110px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.backgroundBottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 100px;
  background: linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0));
}
.backgroundLeft{
  position: fixed;
  top: 0;
  right: 0;
  width: 100px;
  height: 1080px;
  background: linear-gradient(-90deg,rgba(0,0,0,0.8),rgba(0,0,0,0));
}
.chooseTitleComponent:not(:focus-within){
  opacity: 0.7;
}
.fade-leave-active, .fade-enter-active{
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
